asn1crypto==0.24.0
cffi==1.12.2
cryptography==2.6.1
Django==2.1.7
django-cors-headers==2.4.0
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==3.3
djangorestframework-stubs==0.3.0
pycparser==2.19
PyJWT==1.7.1
python-dotenv==0.10.1
pytz==2018.9
six==1.12.0
